.storybook
*.iml
*.log
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
*.css
build
lib
es
yarn.lock
package-lock.json
pnpm-lock.yaml
coverage
# umi
.umi
.umi-production
.umi-test
.env.local
.doc

# dumi
.dumi/tmp
.dumi/tmp-production
dist
.vscode

bun.lockb